<div class="container">
  <div class="row">
   <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
   ></app-cockpit>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element 
        *ngFor="let se of serverElements"
        [srvElement]="se">
        <p>
          <strong *ngIf="se.type === 'server'" style="color: red">{{ se.content }}</strong>
          <em *ngIf="se.type === 'blueprint'">{{ se.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
